
@font-face {
    font-family: gili;
    src: url(/assert/fonts/Gilroy-Regular.woff2);
}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: gili;
}
.goto-home{
    display: none;
}
.phone-menu{
    position: fixed;
    bottom: 1vw;
    right: 3vw;
    z-index: 36;
    padding: 1vw;
    width: 5%;
}
.phone-menu ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1vw;
    width: 100%;
}
.phone-menu ul .p-list{
    margin-top: .5vw;
    position: relative;
    right: -115vw;
    color: #fff;
    font-size: 1vw;
    padding: .5vw;
    width: 100%;
    border-radius: 4px;
    text-decoration: none;
    text-transform: capitalize;
    background-color: rgba(5, 5, 5, 0.514);
}
.phone-menu .p-img{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(2, 2, 2, 0.514);
    width: 4vw;
    height: 4vw;
    padding: 1vw;
    cursor: pointer;
    margin-top: 1vw;
}
.phone-menu .p-img img{
    height: 2vw;
}

nav{
    width: 100%;
    height: 15vh;
    padding: 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 333;
    position: absolute;
    top: 0;
}
nav .logo img{
    height: 5vw;
    cursor: pointer;
}
nav .nav-elems ul{
    gap: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
ul li{
    list-style: none;
}
li .nav-elem{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .95vw;
    font-weight: 600;
}

/* Page 1 */

.page{
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background-image: url(/assert/services/1-1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 15px 15px 15px 15px #03b59d56;
            box-shadow: 15px 15px 15px 15px #03b59d56;
    /* background-color: #03b59d; */
}
.left, .right{
    width: 50%;
    height: 100%;
}
.left{
    gap: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 8vw;
    padding-top: 5vw;
    position: relative;
}
.left img{
    height: 8vw;
    right: -20%;
    bottom: -18%;
    position: absolute;
}
.left .hs h1{
    font-size: 5vw;
    color: rgb(255, 252, 252);
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 1vw;
    text-decoration-thickness: 3px;
}
.left p{
    font-size: 1.5vw;
    color: #FFA000;
}
.left .with-bg{
    padding: .5vw;
    color: white;
    font-size: 1.3vw;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.534);
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.534);
    background-color: #03b59d;
}
.right{
    position: relative;
}
.right img{
    top: 34%;
    left: 15%;
    height: 26vw;
    position: absolute;
}
.box-1{
    width: 43%;
    height: 45%;
    border-radius: 35px;
    background-color: #03b59d;
}
.box-1 img{
    height: 20vw;
    position: absolute;
    left: -18%;
    top: -26%;
}
.text-arrange{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.text-arrange p{
    color: white;
    font-size: 1.6vw;
    margin-bottom: 3vw;
}
.box-2{
    width: 38%;
    height: 38%;
    border-radius: 35px;
    background-color: #FFA000;
}
.box-2 img{
    height: 15vw;
    position: absolute;
    left: -30%;
    top: -20%;
}
.p-1{
    top: 23%;
    right: 5%;
    position: absolute;
}
.p-2{
    top: 59%;
    left: 5%;
    position: absolute;
}

/* page-2 */

.page-1{
    height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20vh;
    padding-left: 7vw;
    position: relative;
    margin-bottom: 35vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.page-1 h1{
    color: black;
    font-weight: 500;
    font-size: 5.5vw;
    text-decoration: underline;
    text-underline-offset: 1.5vw;
    text-decoration-thickness: 3px;
    text-transform: capitalize;
}
.page-1 p{
    width: 35%;
    color: gray;
    margin-top: 3vw;
    font-weight: 400;
    font-size: 1.5vw;
}
.page-1 img{
    right: 25%;
    bottom: 18%;
    opacity: .5;
    position: absolute;
}

/* Page 3 */

.page-2{
    height: 110vh;
    background-color: #03b59d;
}
.flex{
    width: 70%;
    margin: auto;
    height: 30vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-line-pack: center;
        align-content: center;
}
.flex img{
    height: 30vw;
    position: absolute;
    top: -15vw;
}
.flex h1{
    width: 100%;
    font-size: 4vw;
    color: white;
    font-weight: 500;
    text-align: right;
    margin-right: 3vw;
    -ms-flex-line-pack: center;
        align-content: center;
    text-transform: capitalize;
    text-decoration: underline;
    text-underline-offset: .7vw;
    text-decoration-thickness: 3px;
}
.page-2 p{
    width: 50%;
    margin: auto;
    color: white;
    margin-top: 5vw;
    font-size: 1.5vw;
    text-align: justify;
}

/* Page 4 */

.page-3{
    width: 100%;
    height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10vw;
}
.page-3 img{
    width: 50vw;
    height: 100%;
    -o-object-fit: fill;
       object-fit: fill;
    background-color: aquamarine;
}
.page-3 .text{
    padding-left: 5vw;
}
.page-3 .text h1{
    color: black;
    font-size: 4.5vw;
    font-weight: 500;
    margin-left: 1vw;
    text-transform: capitalize;
    text-decoration: underline;
    text-underline-offset: .7vw;
    text-decoration-thickness: 3px;
}
.text p{
    width: 80%;
    color: black;
    margin-top: 3vw;
    font-size: 1.3vw;
    text-align: justify;
}

/* Page 5 */

.page-4{
    height: 40vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 3vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.page-4 h1{
    width: 55%;
    font-size: 6vw;
    font-weight: 500;
    padding-left: 5vw;
    text-transform: capitalize;
    text-decoration: underline;
    text-underline-offset: 1.2vw;
    text-decoration-thickness: 3px;
}
.page-4 p{
    width: 45%;
    font-size: 1.4vw;
    padding: 1vw 2vw;
    line-height: 1.8vw;
    text-align: justify;
}

/* Page 5 */

.page-5{
    width: 100%;
    height: 60vh;
    margin-top: 8vw;
}
.cards{
    gap: 2vw;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.card{
    width: 28%;
    height: 100%;
}
.card img{
    height: 4vw;
    margin-bottom: 2vw;
}
.card h3{
    font-size: 2vw;
}
.card p{
    width: 80%;
    color: gray;
    margin-top: 2vw;
    font-size: 1.3vw;
    text-align: justify;
}

/* Page 6 */

.page-6{
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #ffffff;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.page-6 h1{
    font-size: 5vw;
    margin: 8vw 0 0 5vw;
    text-decoration: underline;
    text-underline-offset: 1vw;
    text-decoration-thickness: 3px;
}
/* Footer */



footer{
    /* height: 25vh; */
    width: 100%;
    padding: 3vw 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* align-items: center; */
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #f7f9fb;
}
.div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1vw;
}
.div > a{
    color: black;
    text-decoration: none;
}
.div .imgg{
    height: 8vw;
    width: 8vw;
    margin-bottom: -3vw;
}
.imgg img{
    width: 100%;
    height: 100%;
    margin-top: -1.5vw;
    -o-object-fit: contain;
       object-fit: contain;
}
.div h4{
    color: black;
    font-size: 1.8vw;
}
.div p{
    color: black;
    font-size: 1.1vw;
    font-weight: 400;
}
.div p:hover{
    color: #03b59d;
}
.div ul{
    gap: 1.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
ul li{
    list-style: none;
}
li a{
    color: black;
    text-decoration: none;
}
.div a:hover{
    color: #03b59d;
}
.gr{
    font-weight: 400;
    font-size: .9vw;
    opacity: .7;
}
#shadow-host-companion{
    display: none;
}