


@media (max-width: 600px) {
    main{
        overflow-x: hidden;
    }
    .phone-menu{
        bottom: 5vw;
        right: 15vw;
    }
    .phone-menu ul{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .phone-menu ul .p-list{
        font-size: 3vw;
        padding: 1vw;
        width: 100%;
        text-decoration: none;
        border-radius: 3px;
    }
    .phone-menu .p-img{
        width: 11vw;
        height: 11vw;
    }
    .phone-menu .p-img img{
        height: 6vw;
    }
    nav .logo img{
        height: 13vw;
    }
    nav ul li .nav-elem{
        display: none;
    }
/* Hero Section */

.hero-section{
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
}

.hero-left{
    width: 100%;
    height: 65vh;
    position: relative;
    overflow: visible;
}
.hero-left h1{
    font-size: 15vw;
    margin-top: 5vw;
    text-decoration-thickness: 2px;
    text-align: center;
    text-underline-offset: 11px;
}
.hero-left p{
    font-size: 3vw;
    color: #1E2432;
    margin: 5vw 0;
    opacity: .7;
    text-align: center;
}
.hero-left>a{
    height: 11vw;
    width: 45vw;
    font-size: 6vw;
    border-radius: 5px;
    margin-top: 3vw;
}

.hero-left #yel-cir{
    display: none;
}
.hero-right{
    width: 100%;
    overflow: hidden;
    margin-top: 5vh;
    /* height: 180vh; */
}
.hero-right img{
    scale: 1.2;
    margin-left: 0%;
}

/* After HEro */
.after-hero{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}
.after-left{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.after-left img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.after-right{
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 3vw;
    padding-left: 5vw;
}
.after-right h1{
    font-size: 11vw;
    margin-top: 1vw;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
    text-align: center;
}
.after-right p{
    font-size: 3vw;
    width: 100%;
    text-align: center;
    padding: 0 7vw;
    margin-top: 7vw;
}


    /* Page 2 */

    .page-1{
        height: 110vw;
        margin-bottom: 45vw;
        margin-top: -1vw;
    }
    .page-1 h1{
        font-size: 7vw;
        line-height: 9vw;
        text-underline-offset: 2vw;
        text-decoration-thickness: 2px;
    }
    .page-1 p{
        width: 45%;
        color: gray;
        font-size: 3vw;
        margin-top: 5vw;
        text-align: justify;
    }
    .page-1 img{
        right: 15%;
        bottom: 33%;
        height: 15vw;
    }

    /* Page 3 */

    .page-2{
        height: 115vw;
        background-color: #03b59d;
    }
    .flex{
        width: 90%;
        margin: auto;
        height: 30vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        -ms-flex-line-pack: center;
            align-content: center;
    }
    .flex img{
        top: -15vw;
        height: 50vw;
        border-radius: 3px;
        position: absolute;
    }
    .flex h1{
        width: 100%;
        font-size: 7vw;
        text-underline-offset: 1.5vw;
        text-decoration-thickness: 2px;
    }
    .page-2 p{
        width: 70%;
        margin: auto;
        font-size: 3vw;
        margin-top: 15vw;
    }

    /* Page 4 */

.page-3{
    gap: 5vw;
    width: 100%;
    height: 140vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.page-3 img{
    width: 80vw;
    height: 100%;
    margin: auto;
    border-radius: 3px;
    -o-object-fit: cover;
       object-fit: cover;
}
.page-3 .text{
    padding-left: 5vw;
    text-align: center;
}
.page-3 .text h1{
    font-size: 9vw;
    text-decoration-thickness: 2px;
}
.text p{
    width: 95%;
    font-size: 3vw;
}

/* Page 5 */

.page-4{
    gap: 5vw;
    height: 65vw;
    margin-top: 15vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.page-4 h1{
    width: 80%;
    font-size: 9vw;
    font-weight: 500;
    text-align: center;
    text-decoration-thickness: 2px;
}
.page-4 p{
    width: 80%;
    font-size: 3.5vw;
    line-height: 3.5vw;
}

/* Page 5 */

.page-5{
    width: 100%;
    height: 160vw;
    margin-top: 8vw;
}
.cards{
    gap: 5vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.card{
    width: 100%;
    height: 100%;
    text-align: center;
}
.card img{
    height: 11vw;
    margin-bottom: 2vw;
}
.card h3{
    font-size: 5vw;
}
.card p{
    width: 80%;
    margin: auto;
    margin-top: 2vw;
    font-size: 3vw;
    text-align: center;
}

/* Page 6 */

.page-6{
    height: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.page-6 h1{
    font-size: 7vw;
    font-weight: 500;
    text-decoration-thickness: 2px;
}
    
    footer{
        gap: 3vw;
        padding: 5vw;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        /* align-items: center; */
    }
    .div{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .div .imgg{
        scale: 2;
        height: 8vw;
        width: 15.5vw;
        margin-left: 8vw;
        margin: 7vw;
        margin-bottom: 8vw;
    }
    .imgg img{
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
    }
    .div h4{
        font-size: 5vw;
        margin-bottom: 2vw;
    }
    .div p{
        font-size: 4vw;
        font-weight: 400;
        margin-bottom: 1vw;

    }
    .div ul{
        gap: 4vw;
    }
    .div a{
        font-size: 4vw;
    }

}



/* Ipad and Tablet */

@media only screen and (min-width: 601px) and (max-width: 1024px) {

    body{
        overflow: hidden;
    }
    nav{
        padding-top: 8vw;
    }

    nav .logo img{
        height: 8vw;
    }
    li .nav-elem{
        font-size: 1.5vw;
    }
    .page{
        height: 80vh;
        -webkit-box-shadow: 0px 0px #03b59d56;
                box-shadow: 0px 0px #03b59d56;
        /* background-color: #03b59d; */
    }
    .left .sm-none{
        display: none;
    }
    .left .hs h1{
        font-size: 7vw;
    }
    .left p{
        font-size: 2vw;
    }
    .right .smr-none{
        display: none;
    }
    .box-1{
        width: 55%;
        height: 25%;
    }
    .box-1 img{
        left: -18%;
        top: -20%;
    }
    .text-arrange p{
        font-size: 1.6vw;
    }
    .box-2{
        width: 45%;
        height: 20%;
    }
    .box-2 img{
        left: -25%;
        top: -18%;
    }
    .p-1{
        top: 23%;
    }
    .p-2{
        top: 53%;
    }
    .page-1 h1{
        font-size: 7vw;
    }
    .page-1 p{
        width: 55%;
        font-size: 3vw;
    }
    .page-1 img{
        right: 15%;
        bottom: 33%;
        opacity: .5;
        height: 15vw;
        position: absolute;
    }
    .page-2{
        height: 110vh;
        background-color: #03b59d;
    }
    .flex{
        width: 90%;
    }
    .flex img{
        height: 50vw;
    }
    .flex h1{
        font-size: 7vw;
    }
    .page-2 p{
        width: 70%;
        font-size: 4vw;
    }
    .page-3{
        height: 60vh;
    }
    .page-3 img{
        width: 50vw;
        -o-object-fit: cover;
           object-fit: cover;
    }
    .page-3 .text{
        padding-left: 5vw;
    }
    .page-3 .text h1{
        font-size: 7vw;
    }
    .text p{
        font-size: 2.5vw;
    }
    .page-4 h1{
        font-size: 7vw;
    }
    .page-4 p{
        font-size: 2.5vw;
        line-height: 2.5vw;
    }
    .page-5{
        width: 100%;
        height: 60vh;
        margin-top: 8vw;
    }
    .cards{
        gap: 2vw;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .card{
        width: 28%;
        height: 100%;
    }
    .card img{
        height: 7vw;
        margin-bottom: 2vw;
    }
    .card h3{
        font-size: 3vw;
    }
    .card p{
        font-size: 2vw;
    }
    .page-6{
        height: 80vh;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .page-6 h1{
        font-size: 8vw;
    }
    
}