
@font-face {
    font-family: gili;
    src: url(/assert/fonts/Gilroy-Regular.woff2);
}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: gili;
}
.goto-home{
    display: none;
}
.phone-menu{
    position: fixed;
    bottom: 1vw;
    right: 3vw;
    z-index: 36;
    padding: 1vw;
    width: 5%;
}
.phone-menu ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1vw;
    width: 100%;
}
.phone-menu ul .p-list{
    margin-top: .5vw;
    position: relative;
    right: -115vw;
    color: #fff;
    font-size: 1vw;
    padding: .5vw;
    width: 100%;
    border-radius: 4px;
    text-decoration: none;
    text-transform: capitalize;
    background-color: rgba(5, 5, 5, 0.514);
}
.phone-menu .p-img{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(2, 2, 2, 0.514);
    width: 4vw;
    height: 4vw;
    padding: 1vw;
    cursor: pointer;
    margin-top: 1vw;
}
.phone-menu .p-img img{
    height: 2vw;
}

nav{
    width: 100%;
    height: 15vh;
    padding: 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 333;
    position: absolute;
    top: 0;
}
nav .logo img{
    height: 5vw;
    cursor: pointer;
}
nav .nav-elems ul{
    gap: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
ul li{
    list-style: none;
}
li .nav-elem{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .95vw;
    font-weight: 500;
}
.page{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    background-color: #03b59d;
}
.page .arrenge-circle{
    height: 30vw;
    position: absolute;
    top: -25%;
    right: -18%;
}
.pink-rect{
    width: 60vw;
    height: 45vh;
    left: -15vw;
    position: absolute;
    background-color: #fab8c4;
}
.aq-rect{
    bottom: 0;
    left: -9vw;
    width: 30vw;
    height: 30vh;
    position: absolute;
    background-color: #74D7C3;
}
.left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left img{
    height: 25vw;
    z-index: 333;
}
.right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right h1{
    font-size: 6vw;
    color: white;
    font-weight: 100;
    text-decoration: underline;
    text-underline-offset: 1vw;
    text-decoration-thickness: 3px;
}

.page1{
    height: 100vh;
    padding: 5vw;
}
.page1 h2{
    font-size: 3vw;
    font-weight: 100;
}
.page1 .textandimg{
    gap: 3vw;
    display: flex;
    margin-top: 3vw;
}
.textandimg p{
    width: 70%;
    font-size: 1.5vw;
    margin-left: 2vw;
}
.rect{
    width: 80%;
    margin: auto;
    height: 15vh;
    overflow: hidden;
    position: relative;
    background-color: #03b59d;
}
.yellow-circle{
    height: 15vw;
    position: absolute;
    bottom: -90%;
    right: -10%;
}
.pink-circle{
    position: absolute;
    right: 8%;
    top: 7%;
    scale: 1.4;

}
.page2{
    height: 98vh;
    padding: 5vw;
}
.page2 h1{
    font-size: 4vw;
    font-weight: 100;
}
.page2 p{
    width: 80%;
    margin-top: 5vw;
    font-size: 1.5vw;
    /* line-height: 1.5vw; */
    text-align: justify;
}
.blogs-section{
    height: auto;
    padding: 5vw;
}
.art{
    font-size: 5vw;
}
.blogs{
    height: auto;
}
.content h1{
    margin-top: 2vw;
}
.text{
    height: auto;
    margin-top: 2vw;
    font-size: 1.5vw;
}
.more-text {
    display: none;
    font-size: 1.5vw;
  }
 .read-more-btn {
    border: none;
    padding: 10px;
    outline: none;
    color: white;
    margin-top: 1vw;
    cursor: pointer;
    border-radius: 5px;
    background-color: #03b59d;
  }
  
  .read-more-btn:hover {
    background-color: #007566;
  }
/* footer */

footer{
    /* height: 25vh; */
    width: 100%;
    padding: 3vw 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* align-items: center; */
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #02b89f;
}
.div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1vw;
}
.div .imgg{
    height: 8vw;
    width: 8vw;
    margin-bottom: -3vw;
}
.imgg img{
    width: 100%;
    height: 100%;
    margin-top: -1.5vw;
    -o-object-fit: contain;
       object-fit: contain;
}
.div h4{
    color: #ffad42;
    font-size: 1.8vw;
}
.div h4:nth-of-type(){
    color: #fff;
}
.div p{
    color: #fff;
    font-size: 1.1vw;
    font-weight: 400;
}
.div p:hover{
    color: #000;
}
.div a{
    color:#fff;
    text-decoration: none;
}
.div ul{
    gap: 1.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
ul li{
    list-style: none;
}
.div li a{
    color: #fff;
    text-decoration: none;
}
.div a:hover{
    color: #000;
}
.gr{
    font-weight: 400;
    font-size: .9vw;
    opacity: .7;
}
#shadow-host-companion{
    display: none;
}






@media (max-width: 600px) {
    main{
        overflow-x: hidden;
    }
    .phone-menu{
        bottom: 5vw;
        right: 15vw;
    }
    .phone-menu ul{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .phone-menu ul .p-list{
        font-size: 3vw;
        padding: 1vw;
        width: 100%;
        text-decoration: none;
        border-radius: 3px;
    }
    .phone-menu .p-img{
        width: 11vw;
        height: 11vw;
    }
    .phone-menu .p-img img{
        height: 6vw;
    }
    nav .logo img{
        height: 13vw;
    }
    nav ul li .nav-elem{
        display: none;
    }
    
    .page{
        width: 100%;
        height: auto;
        position: relative;
        flex-direction: column-reverse;
    }
    .page .arrenge-circle{
        display: none;
    }
    .pink-rect{
        width: 80vw;
        height: 45vw;
        left: -15vw;
        position: absolute;
        background-color: #fab8c4;
        display: none;
    }
    .aq-rect{
        bottom: 0;
        left: -9vw;
        width: 30vw;
        height: 30vh;
        position: absolute;
        background-color: #74D7C3;
        display: none;
    }
    .left{
        width: 100%;
        height: 85vw;
    }
    .left img{
        z-index: 33;
        height: 60vw;
        border-radius: 5px;
    }
    .right{
        width: 100%;
        height: 120vw;
        padding-top: 15vw;
    }
    .right h1{
        color: white;
        font-size: 11vw;
        font-weight: 100;
        text-align: left;
    }
    
    .page1{
        height: 110vw;
        padding: 5vw;
        padding-top: 11vw;
    }
    .page1 h2{
        font-size: 5vw;
    }
    .page1 .textandimg{
        margin-top: 5vw;
    }
    .textandimg p{
        font-size: 3vw;
    }
    .textandimg img{
        height: 8vw;
    }
    .rect{
        height: 15vw;
    }
    .yellow-circle{
        height: 25vw;
        bottom: -40%;
        right: -13%;
    }
    .pink-circle{
        position: absolute;
        right: 18%;
        top: -22%;
        scale: .8;
    
    }
    .page2{
        height: 160vw;
        padding: 5vw;
    }
    .page2 h1{
        font-size: 8vw;
    }
    .page2 p{
        width: 80%;
        margin-top: 5vw;
        font-size: 3vw;
        /* line-height: 3.5vw; */
    }

    .blogs-section{
        height: auto;
        padding: 5vw;
    }
    .art{
        font-size: 8vw;
        margin-bottom: 5vw;
    }
    .blogs{
        height: auto;
    }
    .content h1{
        font-size: 5vw;
        margin-top: 2vw;
    }
    .text{
        margin-top: 4vw;
        font-size: 4vw;
    }
    .more-text {
        display: none;
        font-size: 4vw;
      }
     .read-more-btn {
        padding: 7px;
        color: white;
        margin-top: 3vw;
        margin-bottom: 3vw;
      }
      
      .read-more-btn:hover {
        background-color: #007566;
      }
      

    footer{
        gap: 3vw;
        padding: 5vw;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        /* align-items: center; */
    }
    .div{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .div .imgg{
        scale: 2;
        height: 8vw;
        width: 15.5vw;
        margin-left: 8vw;
        margin: 7vw;
        margin-bottom: 8vw;
    }
    .imgg img{
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
    }
    .div h4{
        font-size: 5vw;
        margin-bottom: 2vw;
    }
    .div p{
        font-size: 4vw;
        font-weight: 400;
        margin-bottom: 1vw;

    }
    .div ul{
        gap: 4vw;
    }
    .div a{
        font-size: 4vw;
    }

}