


@font-face {
    font-family: gili;
    src: url(/assert/fonts/Gilroy-Regular.woff2);
}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: gili;
    color: #fff;
}
.goto-home{
    display: none;
}

.phone-menu{
    position: fixed;
    bottom: 2vw;
    right: 3vw;
    z-index: 36;
    padding: 1vw;
    width: 5%;
}
.phone-menu ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1vw;
    width: 100%;
}
.phone-menu ul .p-list{
    margin-top: .5vw;
    position: relative;
    right: -115vw;
    color: #fff;
    font-size: 1vw;
    background-color: rgba(5, 5, 5, 0.514);
    padding: .5vw;
    width: 100%;
    border-radius: 4px;
    text-decoration: none;
}
.phone-menu .p-img{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(2, 2, 2, 0.514);
    width: 4vw;
    height: 4vw;
    padding: 1vw;
    cursor: pointer;
    margin-top: 1vw;
}
.phone-menu .p-img img{
    height: 2vw;
}
nav{
    gap: 7vw;
    width: 100%;
    height: 15vh;
    padding: 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; */
    z-index: 333;
    position: absolute;
    top: 0;
}
nav .logo img{
    height: 5vw;
    cursor: pointer;
}
nav .nav-elem ul{
    gap: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
ul li{
    list-style: none;
}
li a{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .95vw;
    font-weight: 600;
}

/* page */

.after-nav{
    height: auto;
    /* background-color: red; */
}
.after-nav section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* position: absolute;
    top: 0; */
}
.left{
    width: 50%;
    height: 110vh;
    background-color: white;
    position: relative;
    overflow: hidden;
    padding-top: 7em;
}
.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column-align: center;
        justify-self: center;
}
.text{
    margin-left: 10vw;
}
.left h1{
    font-size: 4vw;
    font-weight: 500;
    color: #1E2432;
    margin-top: 1vw;
    text-decoration: underline;
    text-underline-offset: 1vw;
    text-decoration-thickness: 3px;
}


.paragraph{
    width: 70%;
    opacity: .7;
    margin-top: 3vw;
    font-size: 1.5vw;
    line-height: 1.8vw;
}
.cont{
    gap: 1vw;
    margin-top: 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: -3vw;
}

.cont a{
    padding: 1vw;
    height: 4.5vw;
    width: 13vw;
    border: none;
    font-size: 1.5vw;
    border-radius: 35px;
    background-color: #1E2432;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-decoration: none;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
}
.cont a:hover{
    color: #1E2432;
    font-weight: 800;
    background-color: white;
}
.right{
    width: 50%;
    height: 100vh;
    overflow: hidden;
}
.right img{
    width: 95%;
    height: 95%;
    scale: 1.25;
    margin-top: 1vw;
    margin-left: 6vw;
    -o-object-fit: contain;
       object-fit: contain;
}


/* page 1 */

.page1{
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3vw;
    position: relative;
}
.left-side{
    width: 70%;
    margin-top: 5vw;
    /* background-color: blue; */
}
.left-side h1{
    font-size: 2.5vw;
    margin-left: 3vw;
    color: #0b0741;
}

.cards{
    width: 95%;
    height: 55%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    margin-top: 3vw;
    border-radius: 35px;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: #f8f8f8;
    overflow: hidden;
}
.scroller-container {
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.scroller-content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.card{
    width: 15vw;
    height: 18vw;
    color: gray;
    border-radius: 20px;
    background-color: #fff;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1vw;
    margin-left: 1vw;
    position: relative;
    z-index: 333;
}
.card:hover{
    color: white;
    background-color: #0b0741;
}
.card:hover h3{
    color: white; 
}
.card:hover p{
    color: white; 
}
.card > h3{
    font-size: 2vw;
    color: black;
    line-height: 2vw;
}
.card .text-small{
    font-size: 1.6vw;
    line-height: 1.6vw;
}
.card > p{
    opacity: .8;
    color: black;
    font-size: .8vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.card .img-c{
    width: 5vw;
    height: 5vw;
    /* background-color: red; */
}
.img-c .hp{
    /* width: 7vw; */
    height: 4vw;
    -o-object-fit: cover;
       object-fit: cover;

}
.check{
    height: 3vw;
    position: absolute;
    top: .2vw;
    right: .1vw;
    display: none;
}
.card:hover .check{
    display: block;
}
.btns{
    gap: 1.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 4vw;
    left: 5vw;
}
.back{
    width: 8vw;
    height: 4vw;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 1.3vw;
    border-radius: 35px;
    background-color: white;
    -webkit-box-shadow: 7px 7px 5px rgba(204, 203, 203, 0.479);
            box-shadow: 7px 7px 5px rgba(204, 203, 203, 0.479);
}
.con{
    width: 9vw;
    height: 4vw;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 1.3vw;
    border-radius: 35px;
    background-color: #02B59c;
}
.right-side{
    width: 30%;
    /* background-color: red; */
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #f8f8f8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: black;
    border-radius: 35px;
    overflow: hidden;
  }
  .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
    }
    .swiper-slide .op-r{
        object-position: right;
    }
  .move{
    /* height: 3vw; */
    width: 100%;
    z-index: 1;
    position: absolute;
    left: -35vw;
    top: 5vw;
    /* background-color: red; */
  }
  .swiper-pagination{
    color: red;
  }
  .counter{
    opacity: .8;
    z-index: 33;
    position: absolute;
    left: 11vw;
    top: 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1vw;
  }
  .counter h3{
    color: gray;
    font-size: 1vw;
    font-weight: 300;
  }
  .count{
    color: gray;
    font-size: 1vw;
  }


  /* page 2 */

  .page2{
    /* height: 100vh; */
    padding: 4vw;
}
.p2-flex{
    gap: 1vw;
    width: 100%;
    padding: 1vw;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1vw 1fr 1vw 1fr;
    grid-template-columns: repeat(3, 1fr);
}
.paras{
    padding: 1vw;
    margin-top: 3vw;
}
.paras img{
    width: 5vw;
    height: 5vw;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 1vw;
}
.paras > h1, p{
    color: black;
    margin-bottom: 1rem;
  }
.paras > p{
    width: 80%;
    text-align: justify;
}
.services-new{
    height: 100vh;
    display: flex;
    margin-top: 2vw;
    overflow: hidden;
}
.con-img{
    width: 50%;
    height: 100%;
}
.con-img img{
    width: 100%;
    height: 100%;
    scale: 1.1;
    /* object-fit: contain; */
}
.cover{
    object-fit: cover;
}
.serrr{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
}
.serrr h1{
    color: #000;
    font-size: 5vw;
    text-decoration: underline;
    text-underline-offset: 1.5vw;
    text-decoration-thickness: 3px;
}
.serrr p{
    width: 70%;
    color: gray;
    font-size: 1.3vw;
    margin-top: 3vw;
}
.mb{
    margin-bottom: 8vw;
}
 /* footer */

 footer{
    /* height: 25vh; */
    width: 100%;
    padding: 3vw 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* align-items: center; */
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #f7f9fb;
}
.div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1vw;
}
.div .imgg{
    height: 8vw;
    width: 8vw;
    margin-bottom: -3vw;
}
.imgg img{
    width: 100%;
    height: 100%;
    margin-top: -1.5vw;
    -o-object-fit: contain;
       object-fit: contain;
}
.div h4{
    color: black;
    font-size: 1.8vw;
}
.div p{
    color: black;
    font-size: 1.1vw;
    font-weight: 400;
}
.div p:hover{
    color: #03b59d;
}
.div a{
    color: #000;
    text-decoration: none;
}
.div ul{
    gap: 1.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
ul li{
    list-style: none;
}
.div li a{
    color: black;
    text-decoration: none;
}
.div a:hover{
    color: #03b59d;
}
.gr{
    font-weight: 400;
    font-size: .9vw;
    opacity: .7;
}
#shadow-host-companion{
    display: none;
}