

@media (max-width: 600px) {
    main{
        overflow-x: hidden;
    }
    .refresh{
        display: none;
    }
    .phone-menu{
        bottom: 5vw;
        right: 15vw;
    }
    .phone-menu ul{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .phone-menu ul .p-list{
        font-size: 2.5vw;
        padding: 1vw;
        width: 100%;
        text-decoration: none;
        border-radius: 3px;
    }
    .phone-menu .p-img{
        width: 11vw;
        height: 11vw;
    }
    .phone-menu .p-img img{
        height: 6vw;
    }
    nav .logo img{
        height: 13vw;
    }
    nav ul li a{
        display: none;
    }
    .after-nav section{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .after-nav .left{
        width: 100%;
        height: 150vw;
    }
    .text{
        margin-left: 0;
    }
    .left h1{
        font-size: 13vw;
        text-align: center;
    }
    
    .paragraph{
        width: 80%;
        margin: auto;
        margin-top: 7vw;
        font-size: 6vw;
        line-height: 5vw;
        text-align: center;
    }
    .cont{
        gap: 3vw;
        margin-top: 8vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-left: -3vw;
    }
    
    
    .cont a{
        padding: 1vw;
        height: 13vw;
        width: 45vw;
        border: none;
        font-size: 6vw;
        border-radius: 5px;
    }
    .after-nav .right{
        width: 100%;
        height: 110vw;
    }
    .after-nav .right img{
        margin: 0;
        width: 100%;
        height: 100%;
        margin-left: -1vw;
    }
    .page1{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
                height: 210vw;
    }
    .left-side{
        width: 100%;
        margin-bottom: 35vw;
    }
    .left-side h1{
        font-size: 5vw;
    }
    .scroller-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
    
    }
    .scroller-content {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
    .cards{
        width: 98%;
        height: 86%;
        gap: 1vw;
        border-radius: 15px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding: 2vw;
        padding-bottom: 3vw;
    }
    .card{
        width: 35vw;
        height: 100%;
        /* height: 58vw; */
        border-radius: 10px;
        margin: 1vw;
        z-index: 33;
    }
    .card:hover{
        color: white;
        background-color: #0b0741;
    }
    .card:hover h3{
        color: white; 
    }
    .card:hover p{
        color: white; 
    }
    .card > h3{
        font-size: 4vw;
        line-height: 4vw;
    }
    .card .text-small{
        font-size: 4vw;
        line-height: 4vw;
    }
    .card > p{
        font-size: 3vw;
        margin-bottom: 1.5vw;
        /* margin-top: -.3vw; */
        text-align: justify;
        padding: 1vw;
    }
    .card .img-c{
        width: 8vw;
        height: 11vw;
        margin-bottom: 3vw;
        /* background-color: red; */
    }
    .img-c .hp{
        height: 11vw;
    }
    .check{
        height: 6vw;
        top: 1vw;
        right: 1vw;
    }
    .btns{
        gap: 5vw;
        top: 85vmin;
        left: 5vw;
    }
    .back{
        width: 16vw;
        height: 8vw;
        font-size: 3vw;
    }
    .con{
        width: 18vw;
        height: 8vw;
        font-size: 3vw;
    }
    .right-side{
        width: 100%;
        /* margin-top: 8vw; */
    }
      .swiper-slide {
        border-radius: 5px;
      }
      
    
      .move{
        left: .5vw;
        bottom: -2vw;
        display: none;
        /* background-color: red; */
      }

      .page2{
        padding: 7vw;
        /* margin-top: 37vmin; */
        /* background-color: red; */
    }
    .p2-flex{
        gap: 1vw;
        width: 100%;
        padding: 1vw;
        margin: auto;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
    }
    .paras{
        margin-top: 6vw;
    }
    .paras img{
        width: 15vw;
        height: 15vw;
        margin-bottom: 5vw;
    }
    .paras > h1, p{
        color: black;
        margin-bottom: 3rem;
      }
    .paras > p{
        text-align: justify;
    }
    .services-new{
        height: auto;
        flex-direction: column;
    }
    .con-img{
        width: 100%;
        height: 150vw;
        margin-top: -5vw;
    }
    .con-img img{
        object-fit: contain;
    }
    .serrr{
        width: 100%;
        height: 80vw;
        padding-left: 0;
    }
    .serrr h1{
        font-size: 10vw;
        text-align: center;
        text-underline-offset: 2.5vw;
        margin-top: 8vw;
    }
    .serrr p{
        margin: auto;
        width: 70%;
        font-size: 4vw;
        margin-top: 7vw;
        text-align: justify;
    }
    .rev{
        flex-direction: column-reverse;
    }


    footer{
        gap: 3vw;
        padding: 5vw;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        /* align-items: center; */
    }
    .div{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .div .imgg{
        scale: 2;
        height: 8vw;
        width: 15.5vw;
        margin-left: 8vw;
        margin: 7vw;
        margin-bottom: 8vw;
    }
    .imgg img{
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
    }
    .div h4{
        font-size: 5vw;
        margin-bottom: 2vw;
    }
    .div p{
        font-size: 4vw;
        font-weight: 400;
        margin-bottom: 1vw;

    }
    .div ul{
        gap: 4vw;
    }
    .div a{
        font-size: 3.5vw;
        font-weight: 400;
    }

}


@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .refresh{
        height: 5vw;    
        width: 5vw;
    }
    nav{
        padding-top: 8vw;
    }

    nav .logo img{
        height: 8vw;
    }
    li a{
        font-size: 1.5vw;
    }

    .heading{
        width: 65%;
        font-size: 3.5vw;
    }
    .p1{
        font-size: 1.8vw;
        margin-top: 1vw;
    }
    .input{
        width: 45vw;
        height: 4vw;
    }
    .imgs{
        position: absolute;
        height: 31vw;
        width: 65vw;
        /* background-color: red; */
    }

    .po1{
        top: 4vw;
        left: -1vw;
    }
    .po2{
        top: 4vw;
        right: -1vw;
    }
    .po5{
        top: 18vw;
        left: 4vw;
    }
    .po6{
        top: 18vw;
        right: 4vw;
    }
    

    .page1{
        height: 40vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 3vw;
        position: relative;
    }
    .left-side{
        height: 90%;
    }
    .left-side h1{
        font-size: 4vw;
    }
    .cards{
        border-radius: 15px;
        height: 35vw;
    }
    .card{
        border-radius: 10px;
        height: 25vw;
    }
    .card > h3{
        font-size: 2vw;
        color: black;
        line-height: 2vw;
    }
    .card > p{
        font-size: 1.1vw;
        text-align: justify;
    }
    .btns{
        bottom: -2vw;
    }
    /* .right-side{
        background-color: red;
    } */
    .swiper-slide {
        border-radius: 25px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }
      .swiper {
        width: 100%;
        height: 100%;
      }
    
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #f8f8f8;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: black;
        border-radius: 35px;
      }
    
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
      }
      .move{
        /* height: 3vw; */
        width: 100%;
        z-index: 1;
        position: absolute;
        left: -35vw;
        top: 5vw;
        /* background-color: red; */
      }
      .swiper-pagination{
        color: red;
      }


    footer{
        height: 55vw;
        width: 100%;
        background-position: bottom;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    footer .aqu svg{
        display: none;
    }
    
    footer .yell img{
        height: 25vw;
        position: absolute;
        top: -1%;
    }
    
    .white-line{
        width: 30%;
        height: 3vw;
        background-color: white;
        position: absolute;
        left: 35%;
        top: 20%;
    }
    .black-line{
        width: 70%;
        height: .2vw;
        background-color: black;
        position: absolute;
        bottom: 8%;
        left: 15%;
    }
    #shadow-host-companion{
        display: none;
    }

}